@{
    ViewBag.Title = Resources.Global.Home;
}

<div class="jumbotron">
    <h1>@Resources.Global.TUEvents</h1>
    <p class="lead">Добре дошли в приложението, обхващащо редица събития, тясно свързани с обучение на млади хора по интересни теми!</p>
</div>

<div class="row">
    
</div>