@model EventSystem.Web.Models.Event.AddEventDatePickerViewModel

<script>
    $(document).ready(function () {
        $('.daterangepicker').daterangepicker({
            locale: {
                format: 'DD/MM/YYYY'
            }
        });
        $('.datepicker').datetimepicker({ format: 'dd/mm/yyyy hh:ii', language: 'bg' });
    });
</script>
@if (Model.EventType == EventSystem.Data.Common.Enums.EventType.Course)
{
    // DATE RANGE PICKER
    <div class="form-group">
        @Html.Label("DateRange", Resources.Global.Date, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("DateRange", Model.DateRange, string.Empty, new { @class = "form-control daterangepicker", placeholder = "Enter start date..." })
        </div>
    </div>
}
else
{
    <div class="form-group">
        @Html.Label("StartDate", Resources.Global.Date, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("StartDate", Model.StartDate, string.Empty, new { @class = "form-control datepicker", placeholder = "Enter start date..." })
        </div>
    </div>
}
