@model IEnumerable<EventSystem.Web.Models.Event.EventViewModel>
@using GridMvc.Html
@using Resources;
@{
    ViewBag.Title = "UserEvents";
}

<h2>@Resources.Global.MyEvents</h2>


@Html.Grid(Model).Named("userEventsGrid").Columns(columns =>
           {
               columns.Add(m => m.Id, true);
               columns.Add(m => m.Title).Titled(Global.Title);
               columns.Add(m => m.LocalizedType).Titled(Global.Type);
               columns.Add(m => m.ShortDescription).Titled(Global.Description);
               columns.Add(m => m.StartDate).Titled(Global.StartDate);
               columns.Add(m => m.EndDate).Titled(Global.EndDate);
           }).WithPaging(20)


@*<script>
        $(function () {
            pageGrids.browseEventsGrid.onRowSelect(function (e) {
                alert(e.row.OrderID);
            });
        });
    </script>*@


