body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    padding-top: 70px;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 0px;
    }
}

#eventsList .grid-mvc tr:hover,
#lecturesGridContainer .grid-mvc tr:hover {
    cursor: pointer;
    text-decoration: none;
}

.field-validation-error span {
    color: #ff0000 !important;
}

input.daterangepicker {
    position: initial !important;
    width: inherit;
    padding-left: 12px;
}

.glyphicon-style-width {
    font-size: 1.3em;
}

.notificationSecondaryText {
    font-size: 0.8em;
}

.badge-notify {
    background: red;
    position: relative;
    top: -20px;
    left: -8px;
    font-size: 0.7em;
}

.badge-hidden {
    /*color: transparent !important;
    background-color: transparent !important;*/
    visibility: hidden;
}
